# Публичные переменные (доступны на клиeнте и сервере)
NEXT_PUBLIC_API_URI=!!!SECRET!!!
NEXT_PUBLIC_KLADR_URI=!!!SECRET!!!

# Серверные переменные (Identity)
NEXT_PUBLIC_IDENTITY_BASEURL=!!!SECRET!!!
NEXT_PUBLIC_IDENTITY_CLIENT_ID=!!!SECRET!!!
NEXT_PUBLIC_IDENTITY_REDIRECT_URI=!!!SECRET!!!
NEXT_PUBLIC_IDENTITY_SCOPE=!!!SECRET!!!
NEXT_PUBLIC_IDENTITY_CLIENT_SECRET=!!!SECRET!!!
